.normalLine {
    flex-direction: row;
    height: 10%;
}

.removeBtn {
    width: 5%;
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    height: 80%;
    border-radius: 1rem;
    margin: 3px;
}

.productNameInput {
    width: 42%;
}

.inputBox {
    height: 80%;
    margin: 3px;
    border: none;
    border-bottom: 1px groove #80ff72;
}

.idPoint {
    background-color: #80ff72;
    width: 3%;
    height: 90%;
}