.orderEntryBackground {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orderEntryContainer {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border-width: 0.5rem;
    border-color: #56e87d;
    border-style: solid;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: none;
    padding-bottom: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    @media (max-width : 600px) {
        font-size: small;
    }
}

.paddingTop {
    width: 100%;
    height: 20%; 
}



.instructionBar {
    height: 10%;
    position: fixed;
    width: 90%;
}

.lineBorder {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    height: 100%;
    border: 1px dotted #364d35;
    border-radius: 10px;
}

.productName {
    width: 50%;
}

.unitPrice {
    width: 15%;
}

.quantity {
    width: 15%
}

.totalPrice {
    width: 20%
}

.paymentBar {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    border-width: 0.5rem;
    border-color: #56e87d;
    border-style: solid;
    border-top: none;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.payBtn {
    width: 30%;
    margin: 10px;
    background-color: #045de9;
    border-radius: 1rem;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    &:hover{
        box-shadow:0 0 2rem #2196f3;
        cursor: pointer;
    }
}

.addBtn {
    border-radius: 1rem;
    width: 50%;
    height: 80%;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    transition: height 0.5s, width 0.5s;
    &:hover{
        box-shadow:0 0 2rem #2196f3;
        width: 70%;
        height: 80%;
        cursor: pointer;
    }
}


.btnFont {
    font-weight: 800;
    &:hover{
        cursor: pointer;
    }
}

.couponSelect {
    width: 30%;
    flex-direction: column;
}

.couponCollection {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
}

.coupon {
    font-weight: 600;
    width: 30%;
    background-color: #8989bb;
    background-image: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);
    height: 80%;
    margin: 5px;
    border-radius: 1rem;
    flex-direction: column;
    &:hover{
        box-shadow:0 0 2rem #8989bb;
        height: 90%;
        cursor: pointer;
    }
}

.selectedCoupon {
    border: 3px solid black;
}

.col {
    flex-direction: column;
}

.currentTotal {
    width: 35%;
}

.priceFont {
    font-weight: 800;
}